@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1199px
2. 1024px
3. 991px
4. 768px
5. 767px
6. 539px
7. 479px
8. 400px

******************************/



/************
1. 1199px
************/
@media only screen and (max-width: 1199px) {}

/************
2. 1024px
************/

@media only screen and (max-width: 1024px) {}

/************
3. 991px
************/
@media screen and (max-width: 991px) {

    h2 {
        font-size: 34px;
        line-height: 44px;
    }

    h3 {
        font-size: 20px;
        line-height: 32px;
    }

    .section.center {
        height: auto;
        flex-direction: row;
        padding-top: 15vh;
    }

    .hero {
        padding-left: 0;
        padding-right: 0;
    }

    .nav,
    .nav-inner {
        width: 100vw;
    }

    .feature-content {
        width: 65vw;
    }

    .image-2 {
        max-width: 35%;
        font-size: 12px;
        line-height: 16px;
    }

    .nav-link {
        padding-top: 20px;
    }

    .nav-link:hover {
        box-shadow: none;
    }

    .nav-menu {
        position: absolute;
    }

    .hero-image {
        width: 40%;
        height: auto;
        flex: 0 auto;
        margin-bottom: 7vw;
        margin-left: auto;
        margin-right: auto;
        display: block;
        position: relative;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .hero-content {
        width: 58%;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .feature-wrap {
        margin-top: 5vh;
        margin-bottom: 5vh;
        padding-left: 0;
        padding-right: 0;
    }

    .feature-wrap.logos {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .hero-subhead {
        font-size: 24px;
        line-height: 31px;
    }

    .bottom-image-wrap {
        height: auto;
        background-image: none;
    }

    .feature-icon {
        flex: none;
    }

    .quote-slider {
        width: 100vw;
        height: auto;
        min-height: 500px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .quote-wrap {
        width: 70vw;
    }

    .menu-icon {
        color: #fff;
        font-size: 40px;
    }

    .menu-button.w--open {
        background-color: #000;
    }

    .nav-menu-2 {
        min-width: 240px;
        background-color: #000;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .brand {
        padding-left: 18px;
    }

    .heading-3 {
        font-size: 8vw;
    }

    /* Contant */
    .w-container {
        max-width: 728px;
    }

    .w-hidden-main {
        display: inherit !important;
    }

    .w-hidden-medium {
        display: none !important;
    }

    .w-col-medium-1 {
        width: 8.33333%;
    }

    .w-col-medium-2 {
        width: 16.6667%;
    }

    .w-col-medium-3 {
        width: 25%;
    }

    .w-col-medium-4 {
        width: 33.3333%;
    }

    .w-col-medium-5 {
        width: 41.6667%;
    }

    .w-col-medium-6 {
        width: 50%;
    }

    .w-col-medium-7 {
        width: 58.3333%;
    }

    .w-col-medium-8 {
        width: 66.6667%;
    }

    .w-col-medium-9 {
        width: 75%;
    }

    .w-col-medium-10 {
        width: 83.3333%;
    }

    .w-col-medium-11 {
        width: 91.6667%;
    }

    .w-col-medium-12 {
        width: 100%;
    }

    .w-col-stack {
        width: 100%;
        left: auto;
        right: auto;
    }

    /* nav */
    .w-nav[data-collapse="medium"] .w-nav-menu {
        display: none;
    }

    .w-nav[data-collapse="medium"] .w-nav-button {
        display: block;
    }
}


/************
4. 768px
************/
@media (min-width: 768px) {
    .w-lightbox-content {
        height: 96vh;
        margin-top: 2vh;
    }

    .w-lightbox-view,
    .w-lightbox-view:before {
        height: 96vh;
    }

    .w-lightbox-group,
    .w-lightbox-group .w-lightbox-view,
    .w-lightbox-group .w-lightbox-view:before {
        height: 84vh;
    }

    .w-lightbox-image {
        max-width: 96vw;
        max-height: 96vh;
    }

    .w-lightbox-group .w-lightbox-image {
        max-width: 82.3vw;
        max-height: 84vh;
    }

    .w-lightbox-left,
    .w-lightbox-right {
        opacity: .5;
        display: block;
    }

    .w-lightbox-close {
        opacity: .8;
    }

    .w-lightbox-control:hover {
        opacity: 1;
    }
}

/************
5. 767px
************/
@media screen and (max-width: 767px) {

    h2 {
        font-size: 28px;
        line-height: 38px;
    }

    .feature-content {
        width: 65vw;
    }

    .feature-content.icons {
        width: auto;
        text-align: center;
        align-items: center;
        padding-bottom: 30px;
        padding-left: 0;
        padding-right: 0;
    }

    .feature-content.icons.numbers {
        width: 50%;
        flex: none;
        align-items: center;
    }

    .button.form-button {
        border-top-right-radius: 0;
        border-bottom-left-radius: 3px;
    }

    .wrap {
        width: 100%;
        max-width: none;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        padding: 10px 15vw;
        display: flex;
    }

    .title {
        font-size: 10px;
    }

    .image-2 {
        max-width: 25%;
    }

    .hero-image {
        margin-bottom: 10vw;
    }

    .hero-content {
        margin-bottom: 5vh;
    }

    .feature-wrap {
        flex-direction: row;
    }

    .feature-wrap.icons {
        flex-flow: wrap;
        display: block;
    }

    .feature-wrap.icons.numbers {
        display: flex;
    }

    .black {
        font-size: 22px;
    }

    .hero-subhead {
        max-width: 90%;
        font-size: 18px;
    }

    .footer-link {
        margin-bottom: 10px;
        display: inline-block;
    }

    .form-2 {
        flex-direction: column;
    }

    .input {
        text-align: center;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 0;
        padding-left: 22px;
        padding-right: 22px;
    }

    .quote-attribution {
        flex-direction: row;
        align-items: center;
    }

    .menu-icon {
        font-size: 30px;
    }

    .heading-3 {
        font-size: 6vw;
    }

    .form-block {
        width: 100%;
    }

    .image-5 {
        margin-bottom: 20px;
    }

    .paragraph-3 {
        font-size: 14px;
    }

    /* Contant */
    .w-hidden-main,
    .w-hidden-medium {
        display: inherit !important;
    }

    .w-hidden-small {
        display: none !important;
    }

    .w-row,
    .w-container .w-row {
        margin-left: 0;
        margin-right: 0;
    }

    .w-col {
        width: 100%;
        left: auto;
        right: auto;
    }

    .w-col-small-1 {
        width: 8.33333%;
    }

    .w-col-small-2 {
        width: 16.6667%;
    }

    .w-col-small-3 {
        width: 25%;
    }

    .w-col-small-4 {
        width: 33.3333%;
    }

    .w-col-small-5 {
        width: 41.6667%;
    }

    .w-col-small-6 {
        width: 50%;
    }

    .w-col-small-7 {
        width: 58.3333%;
    }

    .w-col-small-8 {
        width: 66.6667%;
    }

    .w-col-small-9 {
        width: 75%;
    }

    .w-col-small-10 {
        width: 83.3333%;
    }

    .w-col-small-11 {
        width: 91.6667%;
    }

    .w-col-small-12 {
        width: 100%;
    }

    /* Nav */
    .w-nav[data-collapse="small"] .w-nav-menu {
        display: none;
    }

    .w-nav[data-collapse="small"] .w-nav-button {
        display: block;
    }

    .w-nav-brand {
        padding-left: 10px;
    }
}

/************
6. 539px
************/

@media only screen and (max-width: 539px) {}

/************
7. 479px
************/
@media screen and (max-width: 479px) {

    h1 {
        font-size: 48px;
        line-height: 70px;
    }

    h3 {
        font-size: 12px;
    }

    p {
        margin-bottom: 8px;
        font-size: 12px;
        line-height: 20px;
    }

    .section {
        display: flex;
    }

    .section.center {
        padding-bottom: 5vh;
        display: block;
    }

    .hero {
        padding-left: 0;
        padding-right: 0;
    }

    .nav-inner {
        width: 100vw;
    }

    .feature-content {
        width: 60%;
        font-size: 12px;
        line-height: 14px;
    }

    .feature-content.icons.numbers {
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
    }

    .button {
        width: 30%;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 10px;
        line-height: 20px;
    }

    .button.contact {
        width: 30%;
        margin-top: 0;
        margin-left: 10px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 12px;
    }

    .button.form-button {
        border-radius: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .wrap {
        padding-top: 0;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .image-2 {
        width: 30%;
        max-width: 35%;
        position: absolute;
        top: auto;
        right: 25px;
    }

    .button-wrap {
        width: 90vw;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .hero-image {
        width: 70%;
        text-align: center;
    }

    .hero-content {
        width: 100%;
    }

    .feature-wrap {
        width: 100vw;
        flex-direction: row;
        display: flex;
    }

    .feature-wrap.reverse {
        flex-direction: column;
    }

    .feature-wrap.logos {
        padding-top: 0;
        padding-bottom: 0;
    }

    .feature-image {
        width: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .black {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 18px;
        display: flex;
    }

    .hero-subhead {
        max-width: 95%;
        font-size: 14px;
        line-height: 38px;
    }

    .feature-icon {
        margin-bottom: 20px;
    }

    .form-2 {
        width: 90vw;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .input {
        height: 45px;
        margin-bottom: 10px;
        padding: 5px 10px;
        font-size: 12px;
        line-height: 16px;
    }

    .quote-slider {
        width: 100vw;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .slider-arrow {
        font-size: 24px;
    }

    .left-arrow,
    .right-arrow {
        width: 15vw;
    }

    .number {
        font-size: 40px;
    }

    .heading-3 {
        font-size: 28px;
        line-height: 56px;
    }

    .paragraph-2 {
        font-size: 14px;
    }

    .image-5 {
        margin-bottom: 10px;
    }

    .paragraph-3 {
        font-size: 12px;
        line-height: 28px;
    }

    .heading-4 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 20px;
    }

    .heading-5 {
        font-size: 12px;
    }

    .paragraph-4,
    .bold-text,
    .paragraph-5,
    .paragraph-6 {
        font-size: 10px;
    }

    .image-6 {
        flex: 0 auto;
        font-size: 16px;
        line-height: 32px;
    }

    .heading-6 {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 18px;
    }

    .heading-7 {
        font-size: 18px;
    }

    /* Contant */
    .w-container {
        max-width: none;
    }

    .w-hidden-main,
    .w-hidden-medium,
    .w-hidden-small {
        display: inherit !important;
    }

    .w-hidden-tiny {
        display: none !important;
    }

    .w-col {
        width: 100%;
    }

    .w-col-tiny-1 {
        width: 8.33333%;
    }

    .w-col-tiny-2 {
        width: 16.6667%;
    }

    .w-col-tiny-3 {
        width: 25%;
    }

    .w-col-tiny-4 {
        width: 33.3333%;
    }

    .w-col-tiny-5 {
        width: 41.6667%;
    }

    .w-col-tiny-6 {
        width: 50%;
    }

    .w-col-tiny-7 {
        width: 58.3333%;
    }

    .w-col-tiny-8 {
        width: 66.6667%;
    }

    .w-col-tiny-9 {
        width: 75%;
    }

    .w-col-tiny-10 {
        width: 83.3333%;
    }

    .w-col-tiny-11 {
        width: 91.6667%;
    }

    .w-col-tiny-12 {
        width: 100%;
    }

    /* Nav */
    .w-nav[data-collapse="tiny"] .w-nav-menu {
        display: none;
    }

    .w-nav[data-collapse="tiny"] .w-nav-button {
        display: block;
    }

    /* Tab */
    .w-tab-link {
        display: block;
    }
}

/************
8. 400px
************/
@media only screen and (max-width: 400px) {}